<html>
<head>
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
    <title>HOME AUTOMATION SYSTEM</title>
<style >
    body
    {
        background-size: cover;
        background-image: url({{url_for ('static', filename='images/2.jpg')}})
    }


</style>
</head>
    <body>
    <center>
        <h1 >SMART HOME</h1>
    <div class="container">
        <a href="/door_open"><button class="btn btn2">DOOR OPEN</button></a>
        <a href="/door_close"><button class="btn btn2">DOOR CLOSE</button></a><br>
        <a href="/led_on"><button class="btn btn2" >LED ON</button></a>
        <a href="/led_off"><button class="btn btn2">LED OFF</button></a><br>
        <!--<a href="/ldr_on"><button class="btn btn2">LDR ON</button></a>
        <a href="/ldr_off"><button class="btn btn2">LDR OFF</button></a><br> -->
        <a href="/dht_on"><button class="btn btn2">DHT ON</button></a>
        <a href="/dht_off"><button class="btn btn2">DHT OFF</button></a><br>
        <a href="/buzzer_on"><button class="btn btn2">BUZZER ON</button></a>
        <a href="/buzzer_off"><button class="btn btn2">BUZZER OFF</button></a><br>
        <a href="/gas_detector_on"><button class="btn btn2">GAS DETECTOR ON</button></a>
        <a href="/gas_detector_off"><button class="btn btn2">GAS DETECTOR OFF</button></a>
    </center>
    </div>
    </body>
</html>